<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReportServiceSoap"/>
                <binding name="ControlTempSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:20028/ReportService.asmx" binding="basicHttpBinding" bindingConfiguration="ReportServiceSoap" contract="Server.ReportService.ReportServiceSoap" name="ReportServiceSoap"/>
            <endpoint address="http://localhost:20028/ControlTemp.asmx" binding="basicHttpBinding" bindingConfiguration="ControlTempSoap" contract="Server.ControlTemp.ControlTempSoap" name="ControlTempSoap"/>
        </client>
    </system.serviceModel>
</configuration>
