<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
    <section name="SPC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
		<connectionStrings>
    <add name="SPC.My.MySettings.espcConnectionString" connectionString="user id=appUser;server=192.168.10.3;password=Pa$$w0rd;database=espc;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

	<appSettings>
		<add key="url_base" value="http://192.168.10.5/FaceReko/" />
	</appSettings>
	
	
  <system.diagnostics>
				<sources>
						<!-- En esta sección se define la configuración del registro para My.Application.Log -->
						<source name="DefaultSource" switchName="DefaultSwitch">
								<listeners>
										<add name="FileLog"/>
										<!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
										<!--<add name="EventLog"/>-->
								</listeners>
						</source>
				</sources>
				<switches>
						<add name="DefaultSwitch" value="Information"/>
				</switches>
				<sharedListeners>
						<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
						<!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
						<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
				</sharedListeners>
		</system.diagnostics>
  <system.serviceModel>
				<bindings>
      <basicHttpBinding>
        <binding name="VuelosServiceSoap" maxReceivedMessageSize="10485799"/>
        <binding name="UserServiceSoap" maxReceivedMessageSize="10485799"/>
        <binding name="ProcesoServiceSoap" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" maxReceivedMessageSize="1073741899"/>
        <binding name="SyncServiceSoap" maxReceivedMessageSize="1073741899"/>
        <binding name="MarkingServiceSoap" maxReceivedMessageSize="1073741899"/>
        <binding name="ControlTempSoap" maxReceivedMessageSize="1073741899"/>
        <binding name="FacturacionSoap" maxReceivedMessageSize="1073741899"/>
        <binding name="ReportServiceSoap" maxReceivedMessageSize="1073741899"/>
        <binding name="ControlTempSoap1"/>
        <binding name="ControlTempSoap2"/>
        <binding name="ProcesoServiceSoap1"/>
        <binding name="CourrierServiceSoap"/>
        <binding name="FaceDetectionMainSoap"/>
      </basicHttpBinding>
    </bindings>
      <!--Servidor local de aplicacion-->
	  <!--<client>
      <endpoint address="http://192.168.10.5/VuelosService.asmx"
        binding="basicHttpBinding" bindingConfiguration="VuelosServiceSoap"
        contract="Server.VuelosService.VuelosServiceSoap" name="VuelosServiceSoap" />
      <endpoint address="http://192.168.10.5/UserService.asmx" binding="basicHttpBinding"
        bindingConfiguration="UserServiceSoap" contract="Server.UserService.UserServiceSoap"
        name="UserServiceSoap" />
      <endpoint address="http://192.168.10.5/SyncService.asmx" binding="basicHttpBinding"
        bindingConfiguration="SyncServiceSoap" contract="Server.SyncService.SyncServiceSoap"
        name="SyncServiceSoap" />
      <endpoint address="http://192.168.10.5/ReportService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ReportServiceSoap"
        contract="Server.ReportService.ReportServiceSoap" name="ReportServiceSoap" />
      <endpoint address="http://192.168.10.5/ProcesoService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProcesoServiceSoap"
        contract="Server.ProcesoService.ProcesoServiceSoap" name="ProcesoServiceSoap" />
      <endpoint address="http://192.168.10.5/MarkingService.asmx"
        binding="basicHttpBinding" bindingConfiguration="MarkingServiceSoap"
        contract="Server.MarkingService.MarkingServiceSoap" name="MarkingServiceSoap" />
      <endpoint address="http://192.168.10.5/ControlTemp.asmx" binding="basicHttpBinding"
        bindingConfiguration="ControlTempSoap" contract="Server.ControlTemp.ControlTempSoap"
        name="ControlTempSoap" />
      <endpoint address="http://192.168.10.5/Facturacion.asmx" binding="basicHttpBinding"
        bindingConfiguration="FacturacionSoap" contract="Server.Facturacion.FacturacionSoap"
        name="FacturacionSoap" />
      <endpoint address="http://192.168.10.5/ControlTemp.asmx" binding="basicHttpBinding"
        bindingConfiguration="ControlTempSoap2" contract="ServiceReference1.ControlTempSoap"
        name="ControlTempSoap1" />
      <endpoint address="http://192.168.10.5/CourrierService.asmx"
        binding="basicHttpBinding" bindingConfiguration="CourrierServiceSoap"
        contract="Server.CourrierService.CourrierServiceSoap" name="CourrierServiceSoap" />
      <endpoint address="http://192.168.10.5/FaceDetectionMain.asmx"
        binding="basicHttpBinding" bindingConfiguration="FaceDetectionMainSoap"
        contract="Server.FaceDetectionService.FaceDetectionMainSoap"
        name="FaceDetectionMainSoap" />
    </client>-->
    <client>
      <endpoint address="http://localhost:8012/VuelosService.asmx"
        binding="basicHttpBinding" bindingConfiguration="VuelosServiceSoap"
        contract="Server.VuelosService.VuelosServiceSoap" name="VuelosServiceSoap" />
      <endpoint address="http://localhost:8012/UserService.asmx"
        binding="basicHttpBinding" bindingConfiguration="UserServiceSoap"
        contract="Server.UserService.UserServiceSoap" name="UserServiceSoap" />
      <endpoint address="http://localhost:8012/ProcesoService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProcesoServiceSoap"
        contract="Server.ProcesoService.ProcesoServiceSoap" name="ProcesoServiceSoap" />
      <endpoint address="http://localhost:8012/SyncService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SyncServiceSoap"
        contract="Server.SyncService.SyncServiceSoap" name="SyncServiceSoap" />
      <endpoint address="http://localhost:8012/ReportService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ReportServiceSoap"
        contract="Server.ReportService.ReportServiceSoap" name="ReportServiceSoap" />
      <endpoint address="http://localhost:8012/MarkingService.asmx"
        binding="basicHttpBinding" bindingConfiguration="MarkingServiceSoap"
        contract="Server.MarkingService.MarkingServiceSoap" name="MarkingServiceSoap" />
      <endpoint address="http://localhost:8012/ControlTemp.asmx"
        binding="basicHttpBinding" bindingConfiguration="ControlTempSoap"
        contract="Server.ControlTemp.ControlTempSoap" name="ControlTempSoap" />
      <endpoint address="http://localhost:8012/Facturacion.asmx"
        binding="basicHttpBinding" bindingConfiguration="FacturacionSoap"
        contract="Server.Facturacion.FacturacionSoap" name="FacturacionSoap" />
		<endpoint address="http://localhost:8018/FaceDetectionMain.asmx"
		binding="basicHttpBinding" bindingConfiguration="FaceDetectionMainSoap"
		contract="Server.FaceDetectionService.FaceDetectionMainSoap" name="FaceDetectionMainSoap"/>
	</client>
	  <!--<client>
      <endpoint address="http://192.168.10.5:8013/VuelosService.asmx" binding="basicHttpBinding" bindingConfiguration="VuelosServiceSoap" contract="Server.VuelosService.VuelosServiceSoap" name="VuelosServiceSoap"/>
      <endpoint address="http://192.168.10.5:8013/UserService.asmx" binding="basicHttpBinding" bindingConfiguration="UserServiceSoap" contract="Server.UserService.UserServiceSoap" name="UserServiceSoap"/>
      <endpoint address="http://192.168.10.5:8013/ProcesoService.asmx" binding="basicHttpBinding" bindingConfiguration="ProcesoServiceSoap" contract="Server.ProcesoService.ProcesoServiceSoap" name="ProcesoServiceSoap"/>
      <endpoint address="http://192.168.10.5:8013/SyncService.asmx" binding="basicHttpBinding" bindingConfiguration="SyncServiceSoap" contract="Server.SyncService.SyncServiceSoap" name="SyncServiceSoap"/>
      <endpoint address="http://192.168.10.5:8013/ReportService.asmx" binding="basicHttpBinding" bindingConfiguration="ReportServiceSoap" contract="Server.ReportService.ReportServiceSoap" name="ReportServiceSoap"/>
      <endpoint address="http://192.168.10.5:8013/MarkingService.asmx" binding="basicHttpBinding" bindingConfiguration="MarkingServiceSoap" contract="Server.MarkingService.MarkingServiceSoap" name="MarkingServiceSoap"/>
      <endpoint address="http://192.168.10.5:8013/ControlTemp.asmx" binding="basicHttpBinding" bindingConfiguration="ControlTempSoap" contract="Server.ControlTemp.ControlTempSoap" name="ControlTempSoap"/>
      <endpoint address="http://192.168.10.5:8013/Facturacion.asmx" binding="basicHttpBinding" bindingConfiguration="FacturacionSoap" contract="Server.Facturacion.FacturacionSoap" name="FacturacionSoap"/>
		<endpoint address="http://192.168.10.5:8018/FaceDetectionMain.asmx" binding="basicHttpBinding" bindingConfiguration="FaceDetectionMainSoap" contract="Server.FaceDetectionService.FaceDetectionMainSoap" name="FaceDetectionMainSoap"/>
	</client>-->
    			</system.serviceModel>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <userSettings>
    <SPC.My.MySettings>
      <setting name="ScalePort" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="ScaleBaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="ScaleStopBits" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ScaleParity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ScaleDataBits" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="UseScale" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScaleDivisor" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ScaleStringBeginChr" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ScaleStringEndChr" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="Secuential" serializeAs="String">
        <value>127</value>
      </setting>
      <setting name="CommonResposeService" serializeAs="String">
        <value>http://cdestest.aduana.gob.ec/cdes_svr/SENAE_CommonResponseService_EC?wsdl</value>
      </setting>
      <setting name="SRCHEX_req" serializeAs="String">
        <value>&lt;soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:web="http://webservice.ecl.dclt.ecuapass.aduana.gob.ec/"&gt;
                &lt;soapenv:Header&gt; 
                                               &lt;ns0:Header xmlns:ns0="http://soapinterop.org/xsd"&gt; 
                                                      &lt;ns0:SecLv1&gt;usuarioEcuapass&lt;/ns0:SecLv1&gt;
                                                      &lt;ns0:SecLv2&gt;claveEcuapass&lt;/ns0:SecLv2&gt;
                                                      &lt;ns0:SecLv3&gt;keyEcuapass &lt;/ns0:SecLv3&gt; 
                                                &lt;/ns0:Header&gt; 
               &lt;/soapenv:Header&gt;
	 &lt;soapenv:Body&gt;
			&lt;web:requestExportDespachoSRCHEX&gt;
				 &lt;!--Optional:--&gt;
				 &lt;arg0&gt;&amp;lt;DocumentMetadata xsi:schemaLocation="urn:wco:datamodel:EC:SRCHEX:1:0:0 EC_SRCHEX_0p1.03.xsd" xmlns="urn:wco:datamodel:EC:SRCHEX:1:0:0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&amp;gt;
			&amp;lt;WCODataModelVersion&amp;gt;3.0&amp;lt;/WCODataModelVersion&amp;gt;
			&amp;lt;WCODocumentName&amp;gt;SRCHEX&amp;lt;/WCODocumentName&amp;gt;
			&amp;lt;CountryCode&amp;gt;EC&amp;lt;/CountryCode&amp;gt;
			&amp;lt;AgencyName&amp;gt;SENAE&amp;lt;/AgencyName&amp;gt;
			&amp;lt;AgencyAssignedCountrySubEntityID&amp;gt;String&amp;lt;/AgencyAssignedCountrySubEntityID&amp;gt;
			&amp;lt;AgencyAssignedCustomizedDocumentName&amp;gt;SRCHEX&amp;lt;/AgencyAssignedCustomizedDocumentName&amp;gt;
			&amp;lt;AgencyAssignedCustomizedDocumentVersion&amp;gt;1.0&amp;lt;/AgencyAssignedCustomizedDocumentVersion&amp;gt;
			&amp;lt;Declaration&amp;gt;
				&amp;lt;TypeCode&amp;gt;002&amp;lt;/TypeCode&amp;gt;
				&amp;lt;Agent&amp;gt;
					&amp;lt;OceCD&amp;gt;29000001&amp;lt;/OceCD&amp;gt;
					&amp;lt;UserID&amp;gt;VALERIAROSERO&amp;lt;/UserID&amp;gt;
				&amp;lt;/Agent&amp;gt;
				&amp;lt;SequenceNumeric&amp;gt;1&amp;lt;/SequenceNumeric&amp;gt;
				&amp;lt;Consignment&amp;gt;
					&amp;lt;ConsultTypeID&amp;gt;02&amp;lt;/ConsultTypeID&amp;gt;
					&amp;lt;DeclarationOfficeID&amp;gt;028&amp;lt;/DeclarationOfficeID&amp;gt;
					&amp;lt;ExporterDocumentID/&amp;gt;
					&amp;lt;DeclarationNumber&amp;gt;
						&amp;lt;DeclarationNumberID&amp;gt;&amp;lt;/DeclarationNumberID&amp;gt;
					&amp;lt;/DeclarationNumber&amp;gt;
					&amp;lt;Period&amp;gt;
						&amp;lt;StartDate&amp;gt;2015-02-01&amp;lt;/StartDate&amp;gt;
						&amp;lt;EndDate&amp;gt;2015-02-15&amp;lt;/EndDate&amp;gt;
					&amp;lt;/Period&amp;gt;
				&amp;lt;/Consignment&amp;gt;
			&amp;lt;/Declaration&amp;gt;
		&amp;lt;/DocumentMetadata&amp;gt;&lt;/arg0&gt;
			&lt;/web:requestExportDespachoSRCHEX&gt;
	 &lt;/soapenv:Body&gt;
&lt;/soapenv:Envelope&gt;</value>
      </setting>
      <setting name="DocumentResponse_req" serializeAs="String">
        <value>&lt;soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns="urn:wco:datamodel:EC:RN:1:0:0"&gt;
&lt;soapenv:Header&gt; 
	&lt;ns0:Header xmlns:ns0="http://soapinterop.org/xsd"&gt; 
		&lt;ns0:SecLv1&gt;usuarioEcuapass&lt;/ns0:SecLv1&gt;
		&lt;ns0:SecLv2&gt;claveEcuapass&lt;/ns0:SecLv2&gt;
		&lt;ns0:SecLv3&gt;keyEcuapass &lt;/ns0:SecLv3&gt; 
	&lt;/ns0:Header&gt; 
&lt;/soapenv:Header&gt;
	 &lt;soapenv:Body&gt;
		 &lt;DocumentMetadata xsi:schemaLocation="urn:wco:datamodel:EC:RN:1:0:0 ..\maindoc\EC_RN_0p1.0.0.xsd" xmlns="urn:wco:datamodel:EC:RN:1:0:0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
								&lt;WCODataModelVersion&gt;String&lt;/WCODataModelVersion&gt;
								&lt;WCODocumentName&gt;String&lt;/WCODocumentName&gt;
								&lt;CountryCode&gt;String&lt;/CountryCode&gt;
								&lt;AgencyName&gt;String&lt;/AgencyName&gt;
								&lt;AgencyAssignedCountrySubEntityID&gt;String&lt;/AgencyAssignedCountrySubEntityID&gt;
								&lt;AgencyAssignedCustomizedDocumentName&gt;String&lt;/AgencyAssignedCustomizedDocumentName&gt;
								&lt;AgencyAssignedCustomizedDocumentVersion&gt;String&lt;/AgencyAssignedCustomizedDocumentVersion&gt;
								&lt;Declaration&gt;
			 &lt;TypeCode&gt;031&lt;/TypeCode&gt;
															 &lt;RequestTypeCode&gt;044&lt;/RequestTypeCode&gt;
															 &lt;IssueDateTime&gt;2015-02-24 09:37:00&lt;/IssueDateTime&gt;
															 &lt;FunctionalReferenceID&gt;201502231317053&lt;/FunctionalReferenceID&gt;
															 &lt;VersionID&gt;1.0&lt;/VersionID&gt;
															 &lt;OriginDocumentTypeCode&gt;031&lt;/OriginDocumentTypeCode&gt;
															 &lt;Agent&gt;
																							 &lt;ID&gt;29000001&lt;/ID&gt;
																							 &lt;Name&gt;GENERALAIR&lt;/Name&gt;
															 &lt;/Agent&gt;
															 &lt;Status&gt;
																							 &lt;EffectiveDateTime&gt;2015-02-23&lt;/EffectiveDateTime&gt;
																							 &lt;ReleaseDateTime&gt;2015-02-23&lt;/ReleaseDateTime&gt;
															 &lt;/Status&gt;
								&lt;/Declaration&gt;
&lt;/DocumentMetadata&gt;
	 &lt;/soapenv:Body&gt;</value>
      </setting>
      <setting name="CommonResponseList_req" serializeAs="String">
        <value>&lt;soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns="urn:wco:datamodel:EC:RN:1:0:0"&gt;
                &lt;soapenv:Header&gt; 
                                               &lt;ns0:Header xmlns:ns0="http://soapinterop.org/xsd"&gt; 
                                                      &lt;ns0:SecLv1&gt;usuarioEcuapass&lt;/ns0:SecLv1&gt;
                                                      &lt;ns0:SecLv2&gt;claveEcuapass&lt;/ns0:SecLv2&gt;
                                                      &lt;ns0:SecLv3&gt;keyEcuapass&lt;/ns0:SecLv3&gt; 
                                                &lt;/ns0:Header&gt; 
               &lt;/soapenv:Header&gt;
		&lt;soapenv:Body&gt;
				&lt;DocumentMetadata xsi:schemaLocation="urn:wco:datamodel:EC:RN:1:0:0 ..\maindoc\EC_RN_0p1.0.0.xsd" xmlns="urn:wco:datamodel:EC:RN:1:0:0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
						&lt;WCODataModelVersion&gt;String&lt;/WCODataModelVersion&gt;
						&lt;WCODocumentName&gt;String&lt;/WCODocumentName&gt;
						&lt;CountryCode&gt;String&lt;/CountryCode&gt;
						&lt;AgencyName&gt;String&lt;/AgencyName&gt;
						&lt;AgencyAssignedCountrySubEntityID&gt;String&lt;/AgencyAssignedCountrySubEntityID&gt;
						&lt;AgencyAssignedCustomizedDocumentName&gt;String&lt;/AgencyAssignedCustomizedDocumentName&gt;
						&lt;AgencyAssignedCustomizedDocumentVersion&gt;String&lt;/AgencyAssignedCustomizedDocumentVersion&gt;
						&lt;Declaration&gt;
								&lt;TypeCode&gt;&lt;/TypeCode&gt;
								&lt;RequestTypeCode&gt;044&lt;/RequestTypeCode&gt; 
								&lt;IssueDateTime&gt;2015-02-24 09:37:00&lt;/IssueDateTime&gt;
								&lt;DeclarationOfficeID&gt;&lt;/DeclarationOfficeID&gt;
								&lt;VersionID&gt;1.0&lt;/VersionID&gt;
								&lt;OriginDocumentTypeCode&gt;031&lt;/OriginDocumentTypeCode&gt;
								&lt;SequenceNumeric&gt;1&lt;/SequenceNumeric&gt; 
								&lt;StatusCode&gt;N&lt;/StatusCode&gt;
								&lt;Agent&gt;
										&lt;ID&gt;29000001&lt;/ID&gt;
										&lt;Name&gt;GENERALAIR&lt;/Name&gt;
								&lt;/Agent&gt;
								&lt;Status&gt;
										&lt;EffectiveDateTime&gt;2015-02-23&lt;/EffectiveDateTime&gt;
										&lt;ReleaseDateTime&gt;2015-02-23&lt;/ReleaseDateTime&gt;
								&lt;/Status&gt;
						&lt;/Declaration&gt;
				&lt;/DocumentMetadata&gt;
		&lt;/soapenv:Body&gt;
&lt;/soapenv:Envelope&gt;</value>
      </setting>
      <setting name="hostCorreo" serializeAs="String">
        <value>192.168.10.181</value>
      </setting>
      <setting name="puertoCorreo" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="remitenteCorreo" serializeAs="String">
        <value>reportes@generalairsa.com</value>
      </setting>
      <setting name="claveCorreo" serializeAs="String">
        <value>Pa$$w0rd19</value>
      </setting>
      <setting name="sslCorreo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SbuscarKg" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SCaracterBuscar" serializeAs="String">
        <value/>
      </setting>
      <setting name="SNumCadena" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UsuarioCorreo" serializeAs="String">
        <value>reportes</value>
      </setting>
      <setting name="LoginEmpr" serializeAs="String">
        <value>1</value>
      </setting>
    </SPC.My.MySettings>
  </userSettings>
</configuration>
